# API URL - 必需
## 由于官方网站可能存在 CORS 问题，您可以使用反向代理来解决此问题（请自行设置）。
## 更多详情，请参考项目 README.md。
API_URL="https://api.uptimerobot.com/v2/"

# UptimeRobot API 密钥 - 必需
## 此项目仅需要只读 API 密钥
## https://dashboard.uptimerobot.com/integrations
API_KEY="ur3404840-0ed62339649178c4067cf400"

# 部署平台 - 必需
## cloudflare（默认）| auto
## 如果您使用非 Cloudflare 平台，请更改为 auto
DEPLOYMENT_PLATFORM="cloudflare"

# 网站标题
SITE_TITLE="IMSYY 站点监测"

# 网站描述 
SITE_DESCRIPTION="一个简约的站点监测 | a simple site-status pages, power by uptimerobot"

# 网站关键词
SITE_KEYWORDS="站点监测,监测,监控"

# 网站 Logo
SITE_LOGO="/favicon.ico"

# ICP 备案
## 在中国，您需要提供 ICP（互联网内容提供商）备案号。
## https://beian.miit.gov.cn/
SITE_ICP=""

# 统计天数
## 要统计的天数
## 建议填写 30 - 90
COUNT_DAYS=60

# 显示链接
## 是否显示站点链接
SHOW_LINKS=true

# 密码
## 如果您想保护数据，可以设置密码
SITE_PASSWORD=""
## 用于 JWT 验证的密钥，必需
SITE_SECRE_KEY="site-status"